{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3>「{{ .Title }}」の記事</h3>
  <p class="filter-clear">
    <a href="{{ "posts/" | relURL }}">← 記事一覧にもどる</a>
  </p>
  {{ end }}

  <ul class="blog-posts">
    {{ range .Pages }}
    <li class="post-row">
      <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
      </time>
    </li>
    {{ else }}
    <li>まだ記事がありません</li>
    {{ end }}
  </ul>

  {{ if not .Data.Singular }}
  <div class="tag-cloud">
    {{ range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" class="tag-pill">#{{ .Page.Title }}</a>
    {{ end }}
  </div>
  {{ end }}
</content>
{{ end }}
